.navbar {
  margin-bottom: 30px;
}

body {
  padding-top: 60px;
}

.clicky-game-header {
  height: 400px;
  padding: 75px;
  background-color: grey;
  color: #ffffff;
  text-align: center;
  font-size: 150%;
}

.clicky-game-header h2 {
  font-size: 250%;
}