body {
    background-color: #cccccc;
}

.jumbotron {
    background-color: tan;
    color: white;
}

.jumbotron h1 {
    font-weight: 650;
}

.jumbotron h4 {
    font-weight: 500;
    font-size: 200%;
    margin-top: 10px;
}

.train-display {
    background-color: #eeeeee;
}

tr {
    border-bottom: 2px solid #777777;
}