body {
    background-image: url("../images/psychic-background.jpeg");
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 450%;
    margin-bottom: 35px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 270%;
    margin-bottom: 20px;
}

p {
    font-size: 150%;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.container {
    margin-top: 175px;
    margin-left: 30px;
    color: #ffffff;
}