html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/folk-pattern-black.png");
    margin: 0;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    height: 100px;
    margin-left: 300px;
    margin-top: 0;
    padding: 30px 30px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    width: 100%;
    height: 100px;
    text-align: center;
    margin: 0;

}

.clear {
    clear: both;
}

.top-nav {
    
}

.main-content {
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 10px;
    margin: auto;
    width: 960px;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#profile-image {
    float: left; 
    height: 230px;
    width: 250px;
    margin-right: 20px;
}
