 .clicky-game-header {
    height: 400px;
    padding-top: 200px;
    background-image: url("./header-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
    font-size: 150%;
    margin-bottom: 20px;
  }
  
  .clicky-game-header h2 {
    font-size: 250%;
  } 