body {
    background-color: #BBE3E6;
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
}

h1 {
    padding-left: 12%;
}

h2 {
    text-align: center;
    font-size: 200%;
    margin-top: 15px;
}

hr {
    background-color: #000000;
    height: 1px;
    margin-bottom: 20px;
}

#about-pic {
    width: 100%;
    height: auto;
}

.small-name {
    font-size: 90%;
}

.about-me {
    line-height: 1.6;
}

.about-portfolio {
    background-color: #DBE3E3;
    color: #000000;
}

.navbar {
    background-color: #FEFEFE;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-weight: 550;
    font-size: 120%;
}

.card {
    margin-bottom: 25px;
    border: 2px solid #000000;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card-links a {
    margin: 0 15px;
}

.contact-info {
background-color: #666666;
}

footer {
    color: #eeeeee;
    text-align: center;
    padding: 10px;
}