body {
    background-image: url("../images/rome-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

label {
   display: inline-block;
   margin-right: 15px;
}

.timerContainer {
    display: inline-block;
}

.alert-heading {
    display: inline-block;
}

.revealAnswer {
    display: inline-block;
}